/*style navbar*/
ul{
  list-style-type: none;
  background-color: #685F74;
  overflow: hidden; 
  padding: 1em; 
  text-align: center
}

li{
  display: inline; 
}

li a {
  text-decoration: none; color: #f5f0f6; font-size: 1.5em; font-family:'Lucida Sans'; padding: 1em; 
}

li a:hover{
  background-color:#CA9CE1;
}

body{
  background-color: #685F74;
  text-align: center;
  color: #f5f0f6; 
  align-content: center;
  font-family: Arial Narrow; 
  margin-left: 20%; margin-right: 20%;
}

h1{
  width: 80%;
  height: 20%;
  background-color:   rgb(82, 70, 99);
  padding: 2em; 
  font-style: bold; font-family: Geneva;
  color: #f5f0f6;
}

a:link {
  color: #f5f0f6;
}